name: Build and Publish Docker image

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - closed

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.merged == true)

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker image
        run: |
          IMAGE=ghcr.io/mv-tech-company/clinichub-frontend
          TAG_SHA=${{ github.sha }}
          docker build -t $IMAGE:latest -t $IMAGE:$TAG_SHA .

      - name: Push Docker image
        run: |
          IMAGE=ghcr.io/mv-tech-company/clinichub-frontend
          TAG_SHA=${{ github.sha }}
          docker push $IMAGE:latest
          docker push $IMAGE:$TAG_SHA
